<div class="container mt-4">
  <h1 class="fw-bold">Stupid Coaching</h1>
  <p class="text-muted">Ask your coach anything:</p>

  <form action="/answer" data-turbo="false" class="row g-3">
    <div class="col-12 col-md-8">
      <div class="input-group mb-3">
        <input type="text" name="question" class="form-control" placeholder="Your question...">
        <button class="btn btn-primary px-4" type="submit">Ask</button>
      </div>
    </div>
  </form>
</div>

<%# <form action="/answer" method="get" data-turbo="false">
  <label for="question">Your question</label>
  <input type="text" id="question" name="question">
  <input type="submit" value="Ask!">
</form> %>
